body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f8f7f7;*/
    background-image: url(../imagenes/fondo-hojas-4.PNG);
    margin: 0px;
}


/*Header*/
#navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    
    background-image: url(../imagenes/banner-patron-hojas.avif);
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 100%;
}

#navegacion-titulo {
    font-size: 35px;
    font-weight: bold;
}

#navegacion-volver li {
    display: block;
}


/*Main*/
#contenido {
	margin-block: 80px;
}

/*Menu Gestion Ejemplares y Mensajes*/
#menu-gestion-ejemplares, #menu-gestion-mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 720px;
    height: 100%;
    border-radius: 30px;
    background-color: #f8f7f7;
    
    border: 1px solid;
	box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.6);
}

#menu-gestion-ejemplares {
    margin-bottom: 50px;
}

#menu-gestion-ejemplares, #menu-gestion-mensajes {
    text-decoration: none;
    color: #333;
}

#menu-gestion-ejemplares p, #menu-gestion-mensajes p {
    margin-inline: 50px;
    margin-top: 10px;
    color: black;
}