body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f8f7f7;*/
    background-image: url(../imagenes/fondo-hojas-4.PNG);
    margin: 0px;
}


/*Header*/
#navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    
    background-image: url(../imagenes/banner-patron-hojas.avif);
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 100%;
}

#navegacion-titulo {
    font-size: 35px;
    font-weight: bold;
}

#navegacion-volver li {
    display: block;
}


/*Main*/
#opciones {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
    width: 700px;
    height: auto;
    padding: 20px;
    margin-block: 80px;
    overflow-x: auto;
    border-radius: 30px;
    background-color: #f8f7f7;
    
    border: 1px solid black;
	box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.6);
	
}


/* Estilos de la tabla */
#opciones table {
    width: 100%;
    border-collapse: collapse;
}

#opciones th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#opciones th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#opciones td {
    background-color: #ffffff;
}

#opciones tr:hover {
    background-color: #f1f1f1;
}

#opciones td, th {
    border-radius: 8px;
}

/* Añadir estilo cuando no hay plantas registradas */
#opciones table .text-center {
    color: #f44336;
    font-size: 18px;
    font-weight: bold;
}



/*Filtar Mensajes*/
#filtrar-mensajes {
    display: flex;
    flex-direction: column;

    background-color: #f8f7f7;
    padding: 15px;
    padding-inline: 30px;
    border-radius: 30px;
    width: 650px;
    height: auto;
    margin-top: 60px;
	margin-bottom: 100px;
    border: 1px solid;
	box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.6);
}

#filtrar-mensajes h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 35px;
    margin-bottom: 50px;
}

#filtrar-mensajes label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: bold;
}

#filtrar-mensajes select {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid grey;
}

#filtrar-mensajes button {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#filtrar-mensajes button[type="submit"] {
    background-color: green;
    color: white;
}

#filtrar-mensajes button:hover {
    opacity: 0.7;
}

#resultado {
    align-self: center;

    width: 600px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid grey;
}