<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Mensajes</title>
    <link rel="stylesheet" href="../css/gestion-mensajes.css">
</head>
<body>
    <div id="navegacion">
        <div id="navegacion-logo">
            <img src="../imagenes/Logo.png" alt="Logo" width="90">
        </div>
        
        <div id="navegacion-titulo">
            <p>Gestión Mensajes</p>
        </div>

        <ul id="navegacion-volver">
            <li><a href="/mostrarIndex"><img src="../imagenes/volver.png" alt="Login" width="50"></a></li>
        </ul>
    </div>

    <div id="">
        <form id="opciones" action="/añadirMensaje" method="post">
            <h2>Añadir Mensaje</h2>

            <label for="ejemplar">Selecciona un Ejemplar:</label>
            <select name="ejemplarId" id="ejemplar" required>
                <option value="">Seleccione un ejemplar</option>
                <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.id}" th:text="${ejemplar.nombre}"></option>
            </select>

            <label for="mensaje">Mensaje:</label>
            <input type="text" name="mensaje" id="mensaje" required>

            <div id="form-botones">
                <button type="submit">Añadir</button>
                <button type="reset" id="reiniciar">Borrar</button>
            </div>
        </form>


        <form id="filtrar-mensajes" action="/filtrarMensajes" method="post">
            <h2>Filtrar Mensajes</h2>

            <label for="filtroEjemplar">Selecciona un Ejemplar para filtrar los Mensajes:</label>
            <select name="filtroEjemplar" id="filtroEjemplar">
                <option value="">Seleccione un ejemplar</option>
                <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.id}" th:text="${ejemplar.nombre}"></option>
            </select>

            <div id="form-botones">
                <button type="submit">Filtrar Mensajes</button>
            </div>

			<div id="resultado">
				<ul id="mensajes-lista">
					<th:block th:each="mensaje : ${mensajes}">
						<li th:text="${mensaje.mensaje}"></li>
					</th:block>
				</ul>
			</div>
		</form>
	</div>
    
    
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>