<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Plantas</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> -->

    <link rel="stylesheet" href="../css/menu-planta.css" >
</head>
<body>
    <div id="navegacion">
        <div id="navegacion-logo">
            <a href="/mostrarIndex"><img src="../imagenes/Logo.png" alt="Logo" width="75"></a>
        </div>
        
        <div id="navegacion-titulo">
            <p>Menu Plantas</p>
        </div>

        <ul id="navegacion-volver">
            <li><a href="/mostrarMenuAdmin"><img src="../imagenes/volver.png" alt="Login" width="50"></a></li>
        </ul>
    </div>

    <div id="">
		<div id="insertar-planta">
			<form id="opciones" th:action="@{/insertarPlanta}" method="post">
				<h2>Insertar Planta</h2>

				<label for="codigo">Código:</label>
				<input type="text" name="codigo" id="codigo" required>
				
				<label for="nombreComun">Nombre Común:</label>
				<input type="text" name="nombreComun" id="nombreComun" required>
				
				<label for="nombreCientifico">Nombre Científico:</label>
				<input type="text" name="nombreCientifico" id="nombreCientifico" required>

				<div id="form-botones">
					<button type="submit">Insertar</button>
					<button type="reset">Borrar</button>
				</div>
			</form>

			<!-- Mostrar mensajes de error o éxito -->
			<div th:if="${error != null}">
				<p th:text="${error}" style="color: red;"></p>
			</div>
			<div th:if="${mensajeExito != null}">
				<p th:text="${mensajeExito}" style="color: green;"></p>
			</div>
		</div>


		<div id="modificar-planta">
			<form id="opciones" action="/modificarPlanta" th:action="@{/modificarPlanta}" method="post">
				<h2>Modificar Planta</h2>
			
				<label for="codigo">Selecciona una Planta:</label>
				<select name="codigo" id="filtroEjemplar">
    				<option value="">Seleccione una planta</option>
    				<option th:each="planta : ${plantas}" th:value="${planta.codigo}" th:text="${planta.codigo}"></option>
				</select>
							
				<label for="nuevoNombreComun">Nuevo Nombre Común:</label>
				<input type="text" name="nuevoNombreComun" id="nuevoNombreComun">

				<label for="nuevoNombreCientifico">Nuevo Nombre Científico:</label>
				<input type="text" name="nuevoNombreCientifico" id="nuevoNombreCientifico">

				<div id="form-botones">
					<button type="submit">Modificar</button>
					<button type="reset">Borrar</button>
				</div>
			</form>

			<!-- Mostrar mensajes de error o éxito -->
			<div th:if="${error != null}">
				<p th:text="${error}" style="color: red;"></p>
			</div>
			<div th:if="${mensajeExito != null}">
				<p th:text="${mensajeExito}" style="color: green;"></p>
			</div>
		</div>
	</div>

    <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>