<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menú Personal</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> -->
    
    <link rel="stylesheet" href="../css/menu-personal.css">
</head>
<body>
    <div id="navegacion">
        <div id="navegacion-logo">
            <img src="../imagenes/Logo.png" alt="Logo" width="90">
        </div>
        
        <div id="navegacion-titulo">
            <p>Menú Personal</p>
        </div>

        <ul id="navegacion-volver">
            <li><a href="/mostrarIndex"><img src="../imagenes/volver.png" alt="Volver" width="50"></a></li>
        </ul>
    </div>

    <div id="contenido">
        <a href="/mostrarVerPlantas" id="menu-gestion-ejemplares">
            <h2>Ver Plantas</h2>
            <p>Esta opcion te permite ver las plantas del vivero</p>
        </a>

        <a href="/mostrarGestionEjemplares" id="menu-gestion-ejemplares">
            <h2>Gestión de Ejemplares</h2>
            <p>Accede al menú de gestión de ejemplares del vivero.</p>
        </a>
              
        <a href="/mostrarGestionMensajes" id="menu-gestion-mensajes">
            <h2>Gestión de Mensajes</h2>
            <p>Accede al menú de gestión de mensajes del vivero.</p>
        </a>
    </div>
    
    
    <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
