<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver Mensajes Seguimiento</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> -->
    
    <link rel="stylesheet" th:href="@{/css/ver-mensajes-seguimiento.css}">
</head>
<body>
    <div id="navegacion">
        <div id="navegacion-logo">
            <img th:src="@{/imagenes/Logo.png}" alt="Logo" width="90">
        </div>
        <div id="navegacion-titulo">
            <p>Ver Mensajes Seguimiento</p>
        </div>
        <ul id="navegacion-volver">
            <li><a th:href="@{/mostrarIndex}"><img th:src="@{/imagenes/volver.png}" alt="Volver" width="50"></a></li>
        </ul>
    </div>

    <div id="">
        <div id="opciones">
        	<h2>VER MENSAJES SEGUIMIENTO</h2>
        	
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mensaje : ${mensajes}">
                        <td th:text="${mensaje.id}"></td>
                        <td th:text="${mensaje.mensaje}"></td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(mensajes)}">
                        <td colspan="2" class="text-center">No hay Mensajes registradas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>